@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));